* {
    font-family: 'Anek Latin', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

body{
    overflow-y: scroll;
}

main {
    background-color: rgba(43, 43, 43, 0.51);
    height: 100vh;
    width: 100vw;

}

header {
    background-color: #eeab7e;
    height: 22vh;
    width: 100vw;
    margin-bottom: 0;

}
nav {
    background-color: #e0b79c;
    height: 11vh;
    width: 100vw;
    margin-bottom: 0;

}

nav button{
    float: right;
    margin-right: 1.5em;
    margin-top: 0.25em;
}

header img {
    height: 10vh;
    width: auto;
    margin-top: 6.5vh;
}

header h1 {
    font-size: 3em;
    color: rgba(43, 43, 43, 0.74);
}


main h1 {
    font-size: 2em;
    color: rgba(43, 43, 43, 0.74);
    margin-top: 5vh;
    margin-left: 5vw;
}
main h2 {
    font-size: 1.2em;
    color: black;
    margin-top: 2.5vh;
}
#backButton{
    background-color: white;
    font-size: 1em;
    color: lightskyblue;
    border: 2px solid cornflowerblue;
    border-radius: 7%;
    margin-left: 1.5vw;
}
main button{
    background-color: white;
    font-size: 1em;
    color: #fd4501;
    border: 2px solid #fd4501;
    border-radius: 7%;
}
main input{
    font-size: 0.8em;
}

button :hover{
    background-color: gray;
}
.fields{
    display: inline-block;
}
.values{
    display: inline-block;
   margin-left: 13vw;
}
.tableContent{
    margin-top: 5vh;
    margin-left: 5vw;
}
h3{
    color: rgba(43, 43, 43, 0.51);
}
#gallery img {
    width: 32vw;
    height: auto;
}
#files{
    width: 40vw;
}
h4{
    font-size: 1.7em;
    border-bottom: 2px solid black;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 3vw;
    padding-left:1vw;
    padding-bottom:1vw;
}
a{
    color: black;
text-decoration:none;
}
i{
    font-size: 2.7em;
    color: #eeab7e;
    border: 3px solid black;
    border-radius: 10%;
    padding:5px;
    margin-left: 3vw;
    margin-top: 3vw;
}





